.message {
  position: absolute;
  height: 60px;
  width: 200px;
  border-radius: 4px;
  color: white;
  top: 50px;
  //   left: 50%;
  right: -100px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.5);
  h2 {
    margin-left: 10px;
  }
}
