.project-screen-container {
  min-height: 100vh;
  backdrop-filter: blur(10px);
}

.projects-section-1 {
  padding: 0 3rem 3rem 3rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  img {
    position: relative;
    width: 90%;
    border-radius: 4px;
  }
}

@media screen and (max-width: 480px) {
  .projects-section-1 {
    display: block;
    text-align: center;
    img {
      margin-bottom: 30px;
    }
  }
}
